.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: black;
  &-nav{
    display: grid;
    grid-template-areas:
    "a b c c d d";
    width: 100%;
    & svg {
      z-index: 2;
    }
    &__right-there, &__up-there, &__down-there, &__left-there{
      color: red;
      justify-self: center;
      align-self: center;
      p{
        z-index: 20;
        font-size: 30px;
      }
      svg{
        z-index: 10;
      }
    }

    &__up-there, &__down-there{
      position: absolute;
      width: 400px;
      height: 370px;
      top: 0%;
      p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 5px;
        word-wrap: break-word;
      }
    }
    &__left-there, &__right-there{
      position: absolute;
      width: 140px;
      height: 140px;
      p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__right-there {
      left: 200px;
      p{
        left: 40%;
      }
    }

    &__left-there {
      left: 350px;
      p{
        left: 60%;
      }
    }

    &__up-there {
      grid-area: c;
    }

    &__down-there {
      grid-area: d;
      left: 600px;
    }
  }
  &-logo, &-title{
    z-index: 20;
  }

  &-logo{
    width: 30%;
    padding: 10px;
  }

  &-title{
    display: flex;
    align-items: flex-end;
    width: 70%;
    color: white;
    font-size: 24px;
    h1 {
      padding: 0 20px 0 0;
      font-weight: bold;
    }
    &__accent{
      padding: 0 20px;
      border: 7px red solid;
      border-radius: 30%;
      p {
        font-size: 40px;
        font-weight: 600;
      }

    }
  }
}
